@media screen and (min-width: 900px) {
  /*#img-hangman-pres {
    margin-top: 5px;
    aspect-ratio: 1;
    margin: auto;
    display: block;
    display: flex;
    justify-content: center;
    height: 40%;
    width: 100%;
  }*/

  #choose-difficulty {
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  /*#img-hangman-pres {
    padding-top: 20px;
    aspect-ratio: 1;
    margin: auto;
    margin-bottom: 50px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    height: 20%;
    width: 20%;
  }*/

  #choose-difficulty {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

a {
  color: #73cf84;
  font-family: sans-serif;
  font-size: clamp(1rem, 0.3043rem + 0.3vw, 3rem);
}

button {
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

body {
  background-image: url("../img/blackbackground-acceuil.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
}

h1 {
  position: relative;
  display: flex;
  color: #eee;
  justify-content: center;
  font-weight: bold;
  font-family: "Playfair Display", sans-serif;
  font-size: 5vw;
  margin: clamp(10px, 1vw, 20px);
  margin-bottom: 1vw;
}

.game {
  height: calc(100vh - 5vh);
  display: flex;
  flex-direction: column;
}

.container {
  padding: 3px 5px;
  flex: 1;
  margin: auto;
  /*transform: translate(-50%, -50%);*/
  background: transparent;
  backdrop-filter: blur(150px);
  height: 75%;
  width: 50%;
  border: 1px solid #ffffff;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.11),
    0 2px 2px rgba(255, 255, 255, 0.11), 0 4px 4px rgba(255, 255, 255, 0.11),
    0 8px 8px rgba(255, 255, 255, 0.11), 0 16px 16px rgba(255, 255, 255, 0.11),
    0 32px 32px rgba(255, 255, 255, 0.11);
  border-radius: 35px;
}

#top-paragraph-hang-pres {
  font: inherit;
  text-align: center;
  height: 30%;
}

.intro-parapgraph {
  color: #eee;
  font-family: "Lato";
  font-size: clamp(1rem, 0.3043rem + 2.3vw, 3rem);
  margin: 1vw;
}

.difficulty-explain {
  font-family: sans-serif;
  color: #a4a4a4;
  font-size: clamp(1rem, 0.3043rem + 0.3vw, 3rem);
  letter-spacing: 1px;
}

.hypertext {
  position: relative;
  margin: 3vw;
}

#choose-difficulty {
  padding-block: 20px;
}

#choose-difficulty .Easy {
  background-image: linear-gradient(
    to right,
    #04aa6d 0%,
    #59bc6b 51%,
    #04aa6d 100%
  );
  background-size: 200% auto;
  transition: 0.5s;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  height: 48px;
}

#choose-difficulty .Medium {
  background-image: linear-gradient(
    to right,
    #ffba0c 0%,
    #ffde58 51%,
    #ffba0c 100%
  );
  margin-block: 15px;
  background-size: 200% auto;
  transition: 0.5s;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  height: 48px;
}

#choose-difficulty .Hard {
  background-image: linear-gradient(
    to right,
    #993232 0%,
    #9b4f4f 51%,
    #993232 100%
  );
  background-size: 200% auto;
  transition: 0.5s;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 16px 14px 18px;
  height: 48px;
}

button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 12px #eee;
}

button:focus {
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 12px #eee;
}

button:active {
  transform: translateY(4px);
}

.field {
  margin-block: 20px;
  display: flex;
  justify-content: center;
  padding-block: 20px;
}

#username {
  outline: none;
  border-radius: 8px;
  height: 2rem;
  width: 15rem;
  background: transparent;
  border: 2px;
  border-color: white;
  box-shadow: white 0px 0px 4px 1px;
}

#username::placeholder {
  text-align: center;
}

#username:focus::placeholder {
  transform: translateY(-40px);
}
